.companies {
    padding: 3rem 0;
}

.companies .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .companies .content {
        flex-direction: column;
        gap: 1.5rem;
    }
}

.companies .content img {
    width: 140px;
}